@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
body {
    padding: 0;
    margin: 0;
    font-size: 26px;
    font-family: 'Work Sans', sans-serif;
}

div.banner {
    height: 60px;
    background-color: #2157a1;   
    display: flex;
    align-items: center;
}

#logo {
    padding-left: 10px;
    padding-right: 15px
}

a {
    color: #fff;
    text-decoration: none;
}

#right {
    margin-left: auto;
}

#switch_mode {
    color: #fff;
    font-size: 26px;
    font-family: 'Work Sans', sans-serif;

    border: none;
    background-color: inherit;
    cursor: pointer;
    width: auto;
    height: auto;
}

.header {
    font-size: 30px;
}

#switch_mode:hover {
    transition-duration: 0.4s;
    color: #ddd;
}

#github {
    margin-left: auto;
    padding-left: 15px;
    padding-right: 10px;
}

h2 {
    font-size: 22px;
    font-family: 'Work Sans', sans-serif;
}

#age {
    width: 30px;
    text-align: center;
}

#coupon {
    width: 80px;
    text-align: center;
}

#coupon_l {
    padding-left: 15px;
}

#override_l {
    padding-left: 15px;
}

#day {
    text-align: center;
}

#day_l {
    padding-left: 15px;
}

#ui1 {
    padding: 10px;
    text-align: center;
}

#ui2 {
    padding: 10px;
    text-align: center;
}

button {
    width: 150px;
    height: 20px;
}

#price {
    text-align: center;
    font-size: 40px;
}

#discounts {
   text-align: center;
}

p.reg {
    font-size: 18px;
}

table, th, td {
    border:1px solid black;
    margin: auto;
}